In [1]:
from data import * 
import pandas as pd

In [2]:
df= pd.read_csv('/Users/ludwingmoncadabellorin/Downloads/FORGED_DATA_PREDICTcsv.csv')
df.head(20)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3195403.0,US Dollar,3195403.0,US Dollar,Reinvestment,0
1,2022/09/01 10:18,11,123456789,999,234567890,3.0,Euro,400.0,US Dollar,Cash,1
2,2022/09/31 10:18,866,345678901,998,456,99.0,Bitcoin,430.0,US Dollar,Cash,1
3,2022/09/02 13:20,123,567890123,998,678901234,99.0,Bitcoin,430.0,US Dollar,Cash,0

In [3]:
df = clean_data(df)

✅ data cleaned

In [4]:
df.head()

,from_bank,from_account,to_bank,to_account,receiving_currency,payment_currency,payment_format,is_laundering,amount_paid_USD,amount_received_USD,month,day,hour,minute
0,11,123456789,999,234567890,EUR,USD,Cash,1,400.0,3.0,9.0,1.0,10.0,18.0
1,866,345678901,998,456,XBT,USD,Cash,1,430.0,99.0,NaN,NaN,NaN,NaN
2,123,567890123,998,678901234,XBT,USD,Cash,0,430.0,99.0,9.0,2.0,13.0,20.0

In [5]:
from preprocessor import preprocess_features
df = preprocess_features(df)

✅ data One-Hot-Encoded

/Users/ludwingmoncadabellorin/.pyenv/versions/3.10.6/envs/aml_detector/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/ludwingmoncadabellorin/.pyenv/versions/3.10.6/envs/aml_detector/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/ludwingmoncadabellorin/.pyenv/versions/3.10.6/envs/aml_detector/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
from edges_nodes2 import create_nodes_edges
G = create_nodes_edges(df)

✅ Number of nodes: 6
✅ Number of edges: 3